@font-face {
  font-family: "Major Mono Display";
  src: url(../assets/fonts/MajorMonoDisplay-Regular.ttf);
}

@font-face {
  font-family: "Darker Grotesque";
  src: url(../assets/fonts/DarkerGrotesque-Light.ttf);
}

:root {
  --headline-margin: 48px 0 24px 0;
  --headline-font-size: 48px;
  --headline-font-family: "Major Mono Display", monospace;
  
  --content-max-width: 554px;
  --content-margin: 0 0 24px 0;
  --content-font-size: 24px;
  --content-font-family: "Darker Grotesque", monospace;
  
  --socials-margin: auto 0 0 0;
  --socials-padding: 24px 0 48px 0;
  --socials-icon-size: 32px;
  --socials-icon-gap: 32px;

  --foreground-color: #E4E4E4;
  --background-color: #242424;

  --text-link-color: #919191;

  --vh: 1vh;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

.flex-container {
  margin: auto;

  height: 100%;
  width: 90%;
  max-width: var(--content-max-width);

  display: flex;
  flex-direction: column;
  align-items: center;

  display: -webkit-flex;
  -webkit-align-items: center;
}

.flex-container > * {
  width: inherit;
  max-width: inherit;

  word-wrap: break-word;
}

.headline {
  margin: var(--headline-margin);

  text-align: center;

  font-size: var(--headline-font-size);
  font-family: var(--headline-font-family);
}

.content {
  text-align: justify;
  
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
}

.content > * {
  margin: var(--content-margin);
}

.content a {
  color: var(--text-link-color);
  text-decoration: none;
}

.socials {
  margin: var(--socials-margin);
  padding: var(--socials-padding);

  display: flex;
  justify-content: center;
  column-gap: var(--socials-icon-gap);
  flex-wrap: wrap;
}

.socials svg {
  height: var(--socials-icon-size);
  width: var(--socials-icon-size);
}

.socials svg path {
  fill: var(--foreground-color);
}